.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  /* θέλω τα κουτιά να παραμένουν με το width που έχω δηλώσει και να μην τα μικραίνει για να χωρέσουν στην ίδια γραμμή λόγω του display flex που έχω ορίσει (default), για να το κάνω αυτό βάζω το flex-wrap wrap και όταν μικραινω την οθόνη τα κουτία παραμένουν με σταθερό width 100px και αν δεν χωράνε όλα στη σειρά πάνε από κάτω*/
  flex-direction: column;
  /* αντί να τα βάλει σε μία γραμμή τα βάζει σε μία στηλη, ή παραπα΄νω αν δεν χωράνε λόγω του flex wrap */
  flex-direction: column-reverse;
  /* σε μία στήλη αλλά αντεστραμένη σείρά */
  flex-direction: row;
  /* είναι ήδη το default να ειναι δηλαδή στοιχισμε΄να σε μία γραμμή */
  flex-direction: row-reverse;
  /* στοιχισμένα σε μία γραμμή αλλα΄ με αντεστραμμενη σειρά */
}


div[class^="box"] {
  width: 100px;
  height: 100px;
  margin: 5px 5px;
  background-color: lightblue;
}