.container {
  width:250px;
  height: 250px;
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

/* display flex για να μπουν τα περιεχομενα στοιχισμενα σε μια σειρά, flex wrap wrap για να διατηρούν σταθερό το width τους και αν δεν χωράνε στο viewport να πηγαίνουν από κάτω */


div[class^='box']{
  width:60px;
  height: 60px;
  background-color: lightblue;
  margin: 5px 5px;
  text-align: center;
  line-height: 60px;
}

/* text align center για οριζόντια στοίχιση στο κέντρο και line height ιση με το ύψος του κουτίου για κατακόρυφη στοίχιση */

.box1 {
  order:1;
}
/* βαζοντας το order 1 το βάζει στο τέλος, η προεπιλογή σε όλα από τη στιγμή που έχω display flex ειναι το 0, οπότε αν βάλω ένα 1 παεί στο τε΄λος */

.box3 {
  order:2;
}

/* όλα τα κουτιά εχουν τιμή Order 0 από προεπιλογή λόγω του display flex, το box1 το έχω ορίσει στο order 1 και βάζοντας το box 3 στο order 2 πάει στο τέλος*/