.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "header header header header"
  "main main main sidebar"
  "footer footer footer footer";
}
/* χωρίζω το πλ΄άτος της σελίδας σε 4 ισόποσα fractions. 
θελω οι 4 πρώτες στήλες να γίνουν merge και να έχουν alias name header
στην επομενη γραμμή έχω το main σε 3 merged fractions και ένα sidebar στο τελος και 
πάλι τα 4 fractions merged στο footer
*/

.grid-item-1 {
  grid-area: header;
}

.grid-item-2 {
  grid-area: main;
}

.grid-item-3 {
  grid-area: sidebar;
}

.grid-item-4 {
  grid-area: footer;
}

div[class^="grid"] {
  border:1px solid black;
}