.container {
  width:804px;
  margin-left: auto;
  margin-right: auto;
}

/* πρεπει να βάλω παραπάνω απο 800px γιατί στο περιεχομενο έχω δυο κουτιά 200px + 400px αλλά έχουν και border 1px το καθένα */

.header {
  height: 120px;
  border:1px solid black;
  background-color: aqua;
}

.aside {
  height: 150px;
  border: 1px solid black;
  background-color: green;
  width: 200px;
  float:left;
  opacity:0.5
}

.main {
  height: 150px;
  border: 1px solid black;
  background-color: brown;
  width: 400px;
  float:right;
}

.footer {
  height: 120px;
  border: 1px solid black;
  background-color: lightblue;
  clear:both
}

/* βάζω clear both γιατί επειδή είχαμε κάνει float τα δυο προηγούμενα στοιχεία έχουν χάσει την block element ιδιοτητα τους και το footer κρυβόταν πίσω τους. κάνοντας clear το footer πηγαίνει στην θέση από κάτω τους */