.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "header header header header"
  "main main main sidebar"
  "footer footer footer footer";
}
/* χωρίζω το πλ΄άτος της σελίδας σε 4 ισόποσα fractions. 
θελω στην πρώτη γραμμή οι 4 στήλες να γίνουν merge και να έχουν alias name header
στη δεύτερη γραμμή κάνω merge τις 3 πρώτες στήλες (fractions) ως alias main και αφήνω ένα fraction με alias sidebar στο τελος και 
στην τρίτη γραμμή πάλι τα 4 fractions merged με alias footer
*/

.grid-item-1 {
  grid-area: header;
}

.grid-item-2 {
  grid-area: main;
}

.grid-item-3 {
  grid-area: sidebar;
}

.grid-item-4 {
  grid-area: footer;
}

div[class^="grid"] {
  border:1px solid black;
}