* {
  box-sizing: border-box;
}

/* για να κραταω σταθερό το layout της σελίδας μου, ορίζοντας αυτό κρατάμε τις διαστάσεις του width του για το κάθε box όπως το έχω ορίσει από την αρχή ανεξαρτήτως απο το τι padding,border μπορει να εχω βάλει*/

.container {
  width: 500px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  width: 300px;
  height: 200px;
  border: 1px solid red;
  background-color: beige;
  text-align: center;
  line-height: 200px;
  margin-bottom: 20px;
}
/* για να φέρω το κείμενο στο κεντρο του κουτιού, το στοιχίζω οριζόντια με το text-align και για να το στοιχίσω κάθετα χρησιμοποιώ το line-height και του δίνω ως τιμή το συνολικό ύψος του κουτιου.
με το margin bottom αφήνω ένα κενό με το από κάτω κουτί 20px */

.box2 {
  width: 300px;
  height: 200px;
  border: 1px solid green;
  background-color: beige;
  margin-top:10px;
  padding:80px
}

/* όταν στο πάνω κουτί βάζω margin-bottom πχ 20px και στο κάτω κουτί βάζω margin-top 20px δεν αθροίζονται, και τα δύο ζητάνε το ίδιο οπότε το μεταξύ τους κενό θα είναι 20px.
Αν ο ένας ζητάει 10px και ο άλλος 20px υπερισχύει το μεγαλύτερο ζητούμενο δηλαδή το 20px*/