* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: #762124;
}

/* το βάζω στον πατέρα header για να εφαρμοστεί στα παιδιά του εικόνα και class nav */

.nav {
  background-color: aqua;
  width: 700px;
}

/* του δίνω width για να έχουν χώρο να ξεκολλησουν τα στοιχεία της λίστας (του παιδιού) και να μπορεί να δουλέψει το justify space around */

.nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  height: 120px;
}

/* το display flex το βάζω στον πατέρα nav για να εφαρμοστε΄΄ι στα παιδιά του ul */
