/* επειδή τα κουτία δεν έχουν περιεχόμενα για να έχουν ύψος από μόνα τους τους δίνω εγώ ένα. επίσης δίνω width αλλιώς θα πάρουν το σύνολο της σελίδας ως block elements
 */

.box1 {
  width:200px;
  height: 200px;
  background-color: red;
  transition: width 1s ease-in;
  margin-bottom: 10px;
}

.box1:hover {
  width: 500px;
  transition: width 4s ease-in;
}

/* του λέω όταν θα γίνει το event δηλαδή όταν κάνω hover με το ποντίκι θέλω να αλλάξεις το width του κουτίου απο 200px σε 500px μέσα σε 4s με smooth ease-in τρόπο. η επαναφορά του γίνεται σε 1s και αυτό ορίζεται στο box1 όχι στο box1:hover 
margin bottom βάζω ώστε να αφήσει ένα κενό πριν το επόμενο περιεχόμενο*/

.box2 {
  width: 200px;
  height: 200px;
  background-color: green;
  transition: width 6s steps(15, end);
  margin-bottom: 10px;
}

.box2:hover {
  width: 500px;
  /* transition: width 1s steps(5, end); */
}

/* του λέω όταν θα γίνει το event δηλαδή όταν κάνω hover με το ποντίκι θέλω να αλλάξεις το width του κουτίου απο 200px σε 500px μέσα σε 3s με τρόπο steps. η επαναφορά αφού δεν ορίζεται κάτι διαφορετικό γίνεται με τον ίδιο τρόπο. αν θέλω να ορίσω διαφορετική επαναφορά τότε η επαναφορά ορίζεται στο box2 και το αρχικό transition μέσα στο box2:hover */

.box3 {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  transition: transform 3s;
  margin-bottom: 10px;
}

.box3:hover {
  transform: rotate(20deg);
}

.box4 {
  width: 200px;
  height: 200px;
  background-color: brown;
  transition:transform 4s;
}

.box4:hover{
  transform: rotate(90deg) scale(2) translateY(-100%) translateX(40%);
}

/* ζητάω να κάνει rotate 90 μοίρες, να το μεγαλώσει κατά 2 φορές (scale), να κινηθεί στον άξονα των x & y με ένα συγκεκριμένο τρόπο */