.container {
  border:1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* φτιάχνω ένα κουτί να καλύπτει σε width το 90% της σελίδας, με μαύρο περιθώριο και να είναι στοιχισμένο στο κέντρο της σελίδας */



.aueb-img {
  width:400px;
  height: auto;
  vertical-align: middle;
}

.nav {
  display: inline-block;
  vertical-align: middle;
}

/* θέλω να φέρω την εικόνα και την λίστα δίπλα δίπλα, να τα κάνω δηλαδή Inline blocks που θα έχουν width & height 
η εικόνα ήταν ήδη inline elemenent (οχι inline block, σκετο inline element), το div class nav ομως ήταν block element και το κάνω inline-block element
το ίδιο και μέσα στην ίδια τη λίστα τα li/ul ειναι block element οπότε θέλω να τα κάνω και αυτά inline block*/


.nav li {
  display: inline-block;
  margin-right: 20px;
}

/* βάζω το margin right για να αφήσει ένα κενό ανάμεσα στα στοιχεία της λίστας που πλέον είναι οριζόνται block elements */

.nav li:first-child {
  margin-left: 25px;
}

/* αφήνω ένα μεγαλύτερο κενό πριν το πρώτο στοιχείο της λίστας (first child) */

.nav a {
  text-decoration: none;
  background-color: aqua;
  padding: 15px 5px;
  font-size: 1.2rem;
  color:black
}

.nav a:hover {
  color:green;
}

/* παρακάτω δεύτερος τρόπος που είναι καλύτερος καθώς χρησιμοποιούμε elements header, nav και όχι μόνο classes μέσα σε div. έτσι έχουν καλύτερο readability απο screen readers */

.mt-5 {
  margin-top: 5px;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

/* δεν εχω κλαση nav (.nav) έχω το element nav */

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:first-child {
  margin-left: 25px;
}

nav a {
  text-decoration: none;
  background-color: aqua;
  padding: 15px 5px;
  font-size: 1.2rem;
  color:black
}

nav a:hover {
  color:green;
}