.header {
  height: 200px;
  border: 1px solid black;
}

00
.aueb-img > img {
  height: calc(95vh - 200px);
}

/* vh --> vertical height.θέλω να πάρω το ύψος της σελίδας, να αφαιρέσει ότι έχω δώσει εγώ για header και το υπόλοιπο να το δώσει σαν ύψος στην εικόνα που έχω βάλει. το address bar αποτελεί κομμάτι του ύψους της σελίδας μου.

με το > παίρνω τους άμεσους απογονους της κλάσης του div που έχω ονομάσει aueb-img και απο αυτούς θα πάρεις αυτόν που είναι τύπου εικόνα img 

θα πάρει το 95% του ύψους της οθόνης αναλογα την οθόνη πόσα Pixel εχει δεν ειναι σταθερό, από αυτό θα αφαιρέσει τα 200px του header ωστε τελικά να έχω 100% κάλυψη της οθόνης

αντίστοιχα υπάρχει και το vw για το πλάτος της οθόνης*/